# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env

# Android / Gradle build files
**/build/
.gradle/

# Android local configuration
local.properties

# Android Studio / IntelliJ
.idea/

# NASA downloaded data files
lighting_backend/data/nasa/*.h5

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db